/*
* Simple basic menu with background.
* Menu simples ao passar o mouse no item o elemento muda cor de 
* background e de fonte e adiciona uma borda inferior (border-bottom).
* Author: WSRicardo
* Page: https://wsricardo.blogspot.com
* Site: www.dimensaoalfa.com.br
* Github: www.github.com/wsricardo
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu {
    display: flex;
}

nav {
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    background-color: whitesmoke;
    font-size: 16px;
    padding: 6px

}

nav ul {
    display: flex;
    flex-direction: row;
    color: black;
    align-items: center;
    justify-content: flex-end;

}

nav li {
    list-style: none;
    
}

nav a{
    text-decoration: none;
    padding: 6px;
    
}

nav a:hover{
    /*margin: 0 auto;*/
    color: rgb(116, 18, 18);
    background-color:rgb(197, 214, 214);
    border-bottom: 2px solid blue;
    transition-duration: 8ms;
}
