* {
    padding: 0;
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background-color: antiquewhite;
    padding: 4px;
    width: 100%;

}

nav {

}

nav a {
    text-decoration: none;
    padding: 8px;
}

nav a:hover {
    background-color: white;
    border-radius: 12px;
    
}

.logo {

}

/* Mobile styles*/
